a:link {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: red;
}
.contact-container {
    display: flex;
    justify-content: flex-start;
}

.illustration-img {
    margin: 0px;
    width: 800px;
}

.form-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.icon {
    margin-right: 6px;
}
.fa-user, .fa-map-marker-alt, .fa-envelope-open, .fa-comment {
    font-size: 27px;
}
.form-label {
    position: absolute;
    left: 10px;
    top: 10px;
}
.form-input {
    position: relative;
    width: 100%;
    border-bottom: 1px solid grey;
    outline: none;
    height: 48px;
    margin-bottom: 15px;
    padding: 0;
}

.input-item {
    position: absolute;
    top: 0;
    left: 0;
    border-style: none;
    outline: none; 
    background-color: transparent;
    padding: 0;
    margin: 0;
    font-size: 15px;
    height: 100%;
}
.textarea-container {
    display: flex;
    justify-content: center;
}

.form-textarea {
    position: relative;
}

.textarea {
    border-style: none;
    border-bottom: 1px solid grey;
    outline: none;
    margin-top: 10px;
}
.submit {
    border-style: none;
    border-radius: 25px;
    color: aliceblue;
    background-color: rgb(38, 70, 83);
    margin: 5px;
    cursor: pointer;
}
.input-item:focus + .form-label {
    top: -5px;
    left: -2px;
    font-size: 10px;
}
.textarea:focus + .form-label {
    top: -5px;
    left: -2px;
    font-size: 10px;
}
.input-item:not(:placeholder-shown).input-item:not(:focus) + .form-label {
    top: -2px;
    left: -2px;
    font-size: 10px;
    color: rgb(138, 130, 130);
}

button{
    margin:10px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: rgb(47, 130, 255);
    cursor: pointer;
    color: white
}

.modal-container {
    background-color: rgba(0, 0, 0, 0.404);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{
    position: relative;
    width: 150px;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    background-color: white;
}
.modal h3{
    padding: 0;
    margin: 0;
}

.modal span{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.modal-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.411);
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 1s;
}

.show{
    visibility: visible;
    opacity: 1;
}

.modal {
    width: 600px;
    height: 200px;
    position: relative;
    background-color: white;
    padding:35;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal h3 {
    margin: 0;
    padding: 0;
    font-size: 30px;
}

.modal p{
    margin: 20px 0;
    padding: 0;
    font-size: 15px;
}

.modal img{
    display: block;
    margin: 0 auto 0 auto;
    padding: 0;
    width: 300px;
}